<footer>
    <hr>
    <div class="bg-dark text-light pb-4 pt-4">
        <img id="footer-logo" src="/img/logo-white.svg" alt="CSUMB logo">
        <br>
        CST336 Internet Programming. 2025 &copy; Cheng <br>
        <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br>
    </div>
</footer>