<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container">
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link" href="/"> Home </a></li>
            <li class="nav-item"><a class="nav-link" href="/nasa"> NASA </a></li>
            <li class="nav-item"><a class="nav-link" href="/mercury"> Mercury </a></li>
            <li class="nav-item"><a class="nav-link" href="/Venus"> Venus </a></li>
            <li class="nav-item"><a class="nav-link" href="/earth"> Earth </a></li>
            <li class="nav-item"><a class="nav-link" href="/mars"> Mars </a></li>
            <li class="nav-item"><a class="nav-link" href="/jupiter"> Jupiter </a></li>
            <li class="nav-item"><a class="nav-link" href="/saturn"> Saturn </a></li>
            <li class="nav-item"><a class="nav-link" href="/uranus"> Uranus </a></li>
            <li class="nav-item"><a class="nav-link" href="/neptune"> Neptune </a></li>
        </ul>
    </div>
</nav>