<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
    <style>
        body {
            background-image: url("<%= image %>");
            background-size: cover;
        }
    </style>

    <body>
        <h1 class="bg-body-tertiary">The Solar System</h1>
        <%- include('partials/nav.ejs') %>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card m-5">
                    <h2 class="card-header p-3">Home</h2>
                    <div class="card-body p-3">
                    <img class="cardImg" src="/img/solar-system.jpg" alt="Artwork of the solar system">
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>
    </body>

</html>